<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/customCss.css">
</head>
<body class="background-container">
    <!-- position of NavBar -->
    <div class="d-flex align-items-center position-fixed w-100" style="top: 0; z-index: 10;">
        <!-- Navbar Container: Centered -->
        <div class="d-flex position-absolute justify-content-center w-50" style="right:0; left:0; margin:auto"> <!-- Adjust width as needed -->
            <div class="p-3">
                <div class="position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill" style="--bs-bg-opacity:.55;">
                    <nav class="nav nav-pills flex-column flex-sm-row">
                        <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('home') }}">Home</a>
                        <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="{{ url_for('locations') }}">Locations</a>
                        <a class="flex-sm-fill text-sm-center nav-link" href="#">Specials</a>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Search Bar Container: Pushed to the Right -->
        <div class="d-flex p-3 justify-content-end" style="margin-right:0; margin-left:auto">
            <form class="d-flex" role="search">
                <input class="form-control me-2 bg-dark-subtle" style="--bs-bg-opacity:.55;" type="search" placeholder="Search By Locations" aria-label="Search"/>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>


    <!--ACTUAL body, still needs styling-->
    <div class="container-fluid d-flex justify-content-center align-items-center" style="margin-top: 10vh; margin-bottom: 15vh">
        <div class= "d-flex border border-secondary-subtle justify-content-center align-items-center flex-column rounded-1 text-center" style=" width:90%; --bs-bg-opacity:.9; background-color: #525252;">
            
            <!-- add grey tint over background-->
            <div class="col-10">
                 <div class="mx-auto" style="width:75%">
                    <h4 class="d-inline-block my-5 border-bottom border-secondary text-center rounded-1" style="font-size:4rem">Select a Vehicle</h4>
                </div>
            </div>

            <!-- stores location id to be used when searching for model -->
            <input type="hidden" id="current-location-id" value="{{ request.view_args['location_id'] }}"> 

            <div class="col-10">
                <form id = "search-form" role="search" onsubmit="event.preventDefault();">
                    <input id = "search-input"
                        class="form-control bg-dark-subtle"
                        style="--bs-bg-opacity:.55;" 
                        type="search" 
                        placeholder="Search by Model"
                        onkeyup="searchAndUpdateCars()"
                    >
                </form>
            </div>


            <div class = "col-10 mt-4" id="results-container"> 
                {% include 'car_results.html' %} 
            </div>
                   
            </div>

         </div>

    </div>
    <script src="{{ url_for('static', filename='js/carSearch.js') }}"></script>



    <a href="https://www.flaticon.com/free-icons/seat" title="seat icons">Seat icons created by Google - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/transmission" title="transmission icons">Transmission icons created by Vitaly Gorbachev - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/dollar-sign" title="dollar sign icons">Dollar sign icons created by Freepik - Flaticon</a>
</body> 
            