<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/customCss.css">
</head>
<body class="background-container">
    <!-- position of NavBar -->
    <div class="d-flex align-items-center position-fixed w-100" style="top: 0; z-index: 10;">
        <!-- Navbar Container: Centered -->
        <div class="d-flex position-absolute justify-content-center w-50" style="right:0; left:0; margin:auto"> <!-- Adjust width as needed -->
            <div class="p-3">
                <div class="position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill" style="--bs-bg-opacity:.55;">
                    <nav class="nav nav-pills flex-column flex-sm-row">
                        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('locations') }}">Locations</a>
                        <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('specials') }}">Specials</a>

                    </nav>
                </div>
            </div>
        </div>

        <!-- Search Bar Container: Pushed to the Right -->
        <div class="d-flex p-3 justify-content-end" style="margin-right:0; margin-left:auto; position: relative; z-index: 20;">
            <div class="d-flex align-items-center me-3">
                <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{ url_for('create_account') }}" class="btn btn-primary">Sign Up</a>
            </div>
            <form class="d-flex" method = "POST" role="search">
                <input type="hidden" name="ac" value="sch">
                <input class="form-control me-2 bg-dark-subtle" name="l" style="--bs-bg-opacity:.55;" type="search" placeholder="Search By Locations" aria-label="Search"/>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

        <!--ACTUAL body, still needs styling-->
        <div class="container-fluid d-flex justify-content-center align-items-center" style="margin-top: 10vh; margin-bottom: 15vh">
            <div class= "d-flex border border-secondary-subtle justify-content-center align-items-center flex-column rounded-1 text-center" style=" width:90%; --bs-bg-opacity:.9; background-color: #525252;">
                <div class="mx-auto" style="width:75%">
                    <h4 class=" my-3 border-bottom border-secondary text-center rounded-1" style="font-size:5rem">Rent and Roam</h4>
                </div>

                <!--Carousel-->
                <div id="carouselExampleCaptions" class="carousel slide my-3" style="width:80%; height:500px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner h-100 rounded">
                        <div class="carousel-item active h-100">
                            <img src="../static/images/truuuuuuuck.jpg" 
                                class="d-block w-100 h-100" 
                                alt="..." 
                                style="object-fit: cover;">
                            <div class="carousel-caption d-none d-md-block" 
                                style="background-color: rgba(13, 110, 253, 0.8); padding: 1rem; border-radius: 0.5rem;">
                                <h5>Like Trucks?</h5>
                                <p>Hauling gear, offroading, or riding in style, we've got what you need</p>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img src="../static/images/civic.jpg" 
                                class="d-block w-100 h-100" 
                                alt="..." 
                                style="object-fit: cover;">
                            <div class="carousel-caption d-none d-md-block" 
                                style="background-color: rgba(13, 110, 253, 0.8); padding: 1rem; border-radius: 0.5rem;">
                                <h5>Maybe Touring Around?</h5>
                                <p>We 100% guarantee we have something for you, all day, every day</p>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img src="../static/images/spcar.jpg" 
                                class="d-block w-100 h-100" 
                                alt="..." 
                                style="object-fit: cover;">
                            <div class="carousel-caption d-none d-md-block" 
                                style="background-color: rgba(13, 110, 253, 0.8); padding: 1rem; border-radius: 0.5rem;">
                                <h5>Date Night?</h5>
                                <p>We carry all cars, even those that keep heads turning</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!--Under Carousel-->
                <hr class="w-75 my-5" style="border-top: 3px solid #c9b500">

                <!--Side by Side Section-->
                <div class="d-flex flex-row justify-content-between gap-3 mx-5">
                    <div class="mx-3">
                        <h4 class="fs-1">Don't know what you want?</h4>
                        <p>Our catalog is sure to have something for every occasion. Finding a car has never been easier!</p>
                        <button class="btn btn-primary" style="font-size: 1.2rem" onclick="window.location.href='{{ url_for('search_cars') }}'">Find it Here</button>
                    </div>
                    <div class="mx-5">
                        <h4 class="fs-1">Want to see where we are?</h4>
                        <p>We're expanding by the week! See if your hometown or travel destination has one of our galleries.</p>
                        <button class="btn btn-primary" style="font-size: 1.2rem" onclick="window.location.href='{{ url_for('locations') }}'">Search your Location</button>
                    </div>
                </div>

                <hr class="w-75 my-5" style="border-top: 3px solid #c9b500;">

                <!--About Us-->
                <div class="d-flex w-75 justify-content-center flex-column">
                    <h4 class="fs-1">About Us</h4>
                    <p>At RENT & ROAM, we make every journey unforgettable. Whether you’re cruising through city streets, 
                        hitting the open highway, or chasing the thrill of the track, we’ve got the perfect vehicle for you. 
                        From reliable everyday cars and spacious trucks to luxury supercars and adventure-ready SUVs, we rent it all — 
                        so you can roam freely and in style. With flexible bookings, transparent pricing, 
                        and 24/7 customer support, renting from us is simple and stress-free. 
                        Every vehicle in our fleet is meticulously maintained to ensure safety, performance, and reliability, giving you peace of mind on every trip.
                        No matter the destination or the ride you dream of, RENT & ROAM is your partner in adventure. 
                        Book your vehicle today and hit the road your way.
                    </p>
                </div>

                <hr class="w-75 my-5" style="border-top: 3px solid #c9b500;">

                <!--Reviews-->
                <div class="d-flex flex-column gap-3 w-75 justify-content-center" style="margin-bottom: 5%">
                    <h4 class="fs-1">See What People Think</h4>
                    <div id="reviewsCarousel" class="carousel slide justify-content-center d-flex" data-bs-ride="carousel">
                        <div class="carousel-inner w-50">
                            <div class="carousel-item active">
                                <div class="p-4 bg-primary rounded">
                                    <p>Placeholder</p>
                                    <h6>- Placeholder</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <h4 class="fs-2 mb-2">Have Thoughts?</h4>
                        <button class="btn" style="background-color: #c9b500" data-bs-toggle="modal" data-bs-target="#reviewModal">Send Us a Review</button>
                    </div>

                </div>

                <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color:#525252; color:white;">
                            <div class="modal-header" style="border-bottom: 2px solid #c9b500;">
                                <h1 class="modal-title fs-5" id="reviewModalLabel">Leave a Review</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="border-bottom: 2px solid #c9b500;">
                                <form class="form d-flex justify-content-start" action="/" method="POST" id="reviewSubmitForm">
                                    <input type="hidden" name="ac" value="rev">
                                    <textarea required class="my-textarea w-100" 
                                            name="reviewSubmit"
                                            style="height: 20vmax; background-color:#525252; color:white;" 
                                            placeholder="What would you like to say?"></textarea>
                                </form>
                            </div>
                            <div class="modal-footer" style="border:none">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" form="reviewSubmitForm">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>